In [1]:
import pandas as pd

In [24]:
kt_ls = pd.read_csv("../../data/seoul_to_go.csv")

In [28]:
ftd_kt_ls = kt_ls[kt_ls['reviews'].isnull() == False]

In [32]:
filter_list= list(ftd_kt_ls['id'])

In [39]:
ap = pd.read_csv("../../data/tmp.csv")

In [43]:
for i in range (0, len(ap)):
    if(ap['p_id'][i] not in filter_list):
        ap.drop(i, inplace=True)

In [44]:
ap

,p_id,review,review_en
0,0,". 도심 한가운데 이렇게 사찰이 있을줄 몰랐는데, 너무너무 멋집니다. 특히 저녁에 ...",. I didn't know there would be a temple like t...
2,2,. 덕수궁은 조선시대의 궁과 일본식 근대 건물이 함께 존재하는 공간이다. 역사적인 ...,. Deoksugung Palace is a space where Joseon-er...
3,3,. 국내인들도 그냥 가볼만 하다. 경복궁 한바퀴 돌고 사진찍고 나오면 있는 곳인데 ...,. Koreans deserve to just go. If you go around...
4,4,. 친구들과 산책할겸 방문했어요. 도심 속 역사가 살아있어서 너무 좋았어요~ 등도 ...,. I visited with my friends for a walk. I was ...
6,6,. 유아동반 가족에게는 꽤 괜찮은 선택이다. 수온이 너무 차지않아 유아들 추워하지 ...,. It's a pretty good choice for the infant fam...
...,...,...,...
1326,1485,. 방학역과는 거리가 좀 있습니다. 시장이 크지는 않고요. 커다란 호떡과 시장맛나는...,. It's a little far from the vacation station....
1341,1500,. 저렴한 곳과 고급스러운 곳들이 다 뒤섞여있습니다. 종로가격을 유지하면서 고급스러...,. Cheap and luxurious places are all mixed up....
1347,1508,NaN,NaN
1349,1510,. 시장 중앙에 떡볶이집이 몰려있는데 오뎅도 너무 맛있고 떡볶이도 저렴하면서 양도 ...,. There are a lot of tteokbokki restaurants in...
1350,1511,NaN,NaN

In [45]:
set(list(ap['p_id']))-set(filter_list)

set()

In [46]:
ap.to_csv("../../data/tmp.csv", index=False)