In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# get size of vector
def mag(x): return math.sqrt(sum(i**2 for i in x))

In [3]:
movie_matrix = pd.read_csv('../data/movie_matrix.csv')
user_matrix = pd.read_csv('../data/user_adj_matrix.csv')
group_count = pd.read_csv('../data/group_count.csv',names=['group','count'])

movie_matrix.rename(columns = {"Unnamed: 0": "p_id"}, inplace=True)
movie_matrix.set_index('p_id',drop=True,inplace=True)
user_matrix.rename(columns = {"Unnamed: 0": "u_id_raw"}, inplace=True)
user_matrix.loc[user_matrix['u_id']=='0','u_id'] = user_matrix[user_matrix['u_id']=='0']['u_id_raw']
user_matrix.set_index('u_id', drop=True, inplace=True)
del user_matrix['u_id_raw']
group_count.set_index('group', drop=True, inplace=True)

In [4]:
user_matrix

,group_74,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_90,group_91,group_92,group_93,group_94,group_95,group_96,group_97,group_98,group_99
u_id,,,,,,,,,,,,,,,,,,,,,
최한영,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
seulkiki,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0.0
DamianJeonDongHyun,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,1.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0.0
새별님,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
BB,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u1s2&Koot,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
u1s2&2019100861,0.0,0.0,0.0,0.0,0.0,4,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
u1s2&Uynibus,0.0,0.0,0.0,0.0,0.0,3,0.0,0.0,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0
u1s2&dpwls258,0.0,0.0,0.0,0.0,0.0,4,0.0,0.0,0.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0.0
u1s2&쥬,0.0,0.0,0.0,0.0,0.0,3,0.0,0.0,0.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0.0

In [5]:
movie_matrix

,group_74,group_0,group_1,group_2,group_3,group_4,group_5,group_6,group_7,group_8,...,group_90,group_91,group_92,group_93,group_94,group_95,group_96,group_97,group_98,group_99
p_id,,,,,,,,,,,,,,,,,,,,,
0,3.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,7.0,1.0,...,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,2.0,1.0
1,2.0,0.0,1.0,3.0,0.0,1.0,4.0,4.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,1.0,2.0,0.0
2,4.0,1.0,0.0,1.0,2.0,0.0,4.0,1.0,12.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0
3,3.0,0.0,0.0,2.0,0.0,0.0,3.0,2.0,2.0,1.0,...,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,10.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,1.0,0.0,0.0,0.0,0.0,0.0,4.0,6.0,6.0,2.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0
808,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
809,1.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,14.0,0.0,...,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,3.0,0.0
810,4.0,0.0,2.0,1.0,0.0,0.0,6.0,1.0,15.0,0.0,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,4.0,0.0
811,1.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,11.0,0.0,...,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,3.0,0.0

In [6]:
group_count.head()

          count
group
group_74    202
group_0      24
group_1      43
group_2      30
group_3      34

In [7]:
p_m = pd.DataFrame(np.array(movie_matrix) * (1/np.array(group_count['count'])), index=movie_matrix.index)
p_m = p_m.iloc[:,:].div(p_m.sum(axis=1), axis=0).fillna(0)
u_m = pd.DataFrame(np.array(user_matrix) * (1/np.array(group_count['count'])), index=user_matrix.index)
u_m = u_m.iloc[:,:].div(u_m.sum(axis=1), axis=0).fillna(0)

In [8]:
p_m

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
p_id,,,,,,,,,,,,,,,,,,,,,
0,0.005007,0.000000,0.000000,0.011238,0.000000,0.004268,0.013485,0.008027,0.025652,0.005714,...,0.0,0.0,0.020433,0.000000,0.0,0.022987,0.0,0.000000,0.009112,0.022476
1,0.003402,0.000000,0.007990,0.034355,0.000000,0.004349,0.027484,0.032719,0.044811,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.039040,0.0,0.020209,0.009285,0.000000
2,0.005008,0.010538,0.000000,0.008430,0.014877,0.000000,0.020233,0.006022,0.032988,0.000000,...,0.0,0.0,0.000000,0.010538,0.0,0.000000,0.0,0.014877,0.006835,0.000000
3,0.006087,0.000000,0.000000,0.027324,0.000000,0.000000,0.024591,0.019517,0.008910,0.006947,...,0.0,0.0,0.000000,0.008539,0.0,0.027945,0.0,0.000000,0.005539,0.000000
4,0.001743,0.000000,0.008187,0.000000,0.000000,0.000000,0.035206,0.000000,0.038267,0.005967,...,0.0,0.0,0.000000,0.000000,0.0,0.008001,0.0,0.000000,0.009515,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,0.001116,0.000000,0.000000,0.000000,0.000000,0.000000,0.018040,0.032213,0.014706,0.007644,...,0.0,0.0,0.000000,0.014093,0.0,0.000000,0.0,0.000000,0.006094,0.000000
808,0.003262,0.000000,0.000000,0.000000,0.000000,0.000000,0.013180,0.031382,0.014327,0.000000,...,0.0,0.0,0.000000,0.041189,0.0,0.000000,0.0,0.000000,0.000000,0.000000
809,0.001610,0.000000,0.000000,0.000000,0.000000,0.000000,0.026018,0.000000,0.049490,0.000000,...,0.0,0.0,0.009855,0.013551,0.0,0.007391,0.0,0.000000,0.013185,0.000000
810,0.005998,0.000000,0.014088,0.010096,0.000000,0.000000,0.036346,0.007212,0.049383,0.000000,...,0.0,0.0,0.000000,0.012620,0.0,0.006884,0.0,0.017817,0.016372,0.000000
811,0.001240,0.010441,0.000000,0.000000,0.000000,0.000000,0.015035,0.000000,0.029960,0.000000,...,0.0,0.0,0.007593,0.010441,0.0,0.000000,0.0,0.014740,0.010159,0.000000

In [9]:
u_m

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
u_id,,,,,,,,,,,,,,,,,,,,,
최한영,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
seulkiki,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.307820,0.0,0.0,0.0,0.0,0.199667,0.0
DamianJeonDongHyun,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.030531,0.000000,...,0.0,0.0,0.0,0.058519,0.0,0.0,0.0,0.0,0.037958,0.0
새별님,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
BB,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
u1s2&Koot,0.0,0.0,0.0,0.0,0.0,0.027412,0.0,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
u1s2&2019100861,0.0,0.0,0.0,0.0,0.0,0.053556,0.0,0.0,0.000000,0.017928,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
u1s2&Uynibus,0.0,0.0,0.0,0.0,0.0,0.045594,0.0,0.0,0.000000,0.101750,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.032450,0.0
u1s2&dpwls258,0.0,0.0,0.0,0.0,0.0,0.041127,0.0,0.0,0.000000,0.041302,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.043906,0.0
u1s2&쥬,0.0,0.0,0.0,0.0,0.0,0.039708,0.0,0.0,0.000000,0.070891,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.042391,0.0

In [10]:
p_m.to_csv('../data/normalized_item_matrix.csv')
u_m.to_csv('../data/normalized_user_matrix.csv')