In [2]:
import pandas as pd
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [3]:
file=pd.read_csv("movie_watcha_review.csv",index_col=0)
file.head()

,movie_id,user,rate,likes,review,en_review
0,0,최한영,4.5,656.0,뜨지 못한 명작,an outstanding masterpiece
1,0,seulkiki,5.0,575.0,사회라는 거대한 틀에서 표류하고있는 두 사람의 극복기. 정말괜찮은 영화.,a really nice movie about two people drifting ...
2,0,DamianJeonDongHyun,4.0,360.0,정말 정재영의 연기중 손에 꼽을 만한 작품이라고 말해주고 싶다.\r\n실제 사회에서...,I really want to tell you that this is one of ...
3,0,새별님,5.0,311.0,나는 이런 영화가 좋더라..감독은 틀림없이 따뜻한 사람일 것이다,I like movies like this. The director must be ...
4,0,BB,5.0,301.0,이 영화에서 가장 난해한건 바로 포스터ㅋ,The most difficult thing in this movie is the ...

In [5]:
user_list=list(set(list(file['user'])))

In [8]:
user=pd.DataFrame(data=list(range(6156)), index=range(6156), columns=['user_id'])
user['user']=pd.Series(user_list, index=user.index)
user_id_dict={}
for i in range(len(user)):
    user_id_dict[user['user'][i]]=user['user_id'][i]
user.head()

   user_id        user
0        0       안나카리나
1        1         이승혁
2        2         윤성민
3        3        무비러버
4        4  KeyserSoze

In [11]:
data={
    'movie_id':file['movie_id'],
    'rate':file['rate'],
    'en_review':file['en_review']
}
user_matrix=pd.DataFrame(data, columns=['movie_id','user_id','rate','en_review'], index=range(len(file['movie_id'])))
for i in range(len(user_matrix)):
    user_matrix['user_id'][i]=user_id_dict[file['user'][i]]
user_matrix

c:\users\youjeongsue\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,movie_id,user_id,rate,en_review
0,0,6151,4.5,an outstanding masterpiece
1,0,5468,5.0,a really nice movie about two people drifting ...
2,0,2160,4.0,I really want to tell you that this is one of ...
3,0,4076,5.0,I like movies like this. The director must be ...
4,0,5531,5.0,The most difficult thing in this movie is the ...
...,...,...,...,...
29678,669,47,4.0,I think I'm one of the best Korean romantic co...
29679,669,1365,3.0,Who knew that Jun Ji-hyun and Cha Tae-hyun wou...
29680,669,2899,5.0,The novel was good and the movie was good. I ...
29681,669,2799,5.0,The reason why I like Canon
29682,669,3493,4.0,a pretty good movie for a Korean movie

In [12]:
user_matrix.to_csv('user_matrix.csv')

In [13]:
user_matrix=pd.read_csv('user_matrix.csv', index_col=0)

In [14]:
user_matrix

,movie_id,user_id,rate,en_review
0,0,6151,4.5,an outstanding masterpiece
1,0,5468,5.0,a really nice movie about two people drifting ...
2,0,2160,4.0,I really want to tell you that this is one of ...
3,0,4076,5.0,I like movies like this. The director must be ...
4,0,5531,5.0,The most difficult thing in this movie is the ...
...,...,...,...,...
29678,669,47,4.0,I think I'm one of the best Korean romantic co...
29679,669,1365,3.0,Who knew that Jun Ji-hyun and Cha Tae-hyun wou...
29680,669,2899,5.0,The novel was good and the movie was good. I ...
29681,669,2799,5.0,The reason why I like Canon
29682,669,3493,4.0,a pretty good movie for a Korean movie